
# Operating System files
.DS_Store
 
# Xcode files
*.xcuserstate
*.xcworkspace
*.pbxproj
*.plist
*.xcbkptlist

# VS files
.suo
*.db
*.ipch
*.exe
*.sln
*.ilk
*.pdb
*.filters
*.vcxproj
*.idb
*.obj
*.tlog
*.log
*.user
*.pch
pch.cpp

#Zips
Lab003/Lab003_advanced/Lab003_advanced/0511105_Lab003.cpp.zip
Lab005/0511105_Lab5.zip
